<div class="container">
  <div class="row">
    <div class="w-full p-10 mx-auto mt-28 lg:w-1/2">
      <h1 class="pb-4 text-3xl text-red-800">新增課程小節</h1>
      
        <%= form_with model: @section, url: owner_course_section_path(@section.chapter.course_id, @section) do |form| %>

          <div class="field">
            <%= form.label :title, "標題" %>
            <%= form.text_field :title %>
          </div>
          
          <div class="field">
            <%= form.label :media, "上傳影片" %>
            <%= form.file_field :media%>
            <%= @section.media.filename %>
          </div> 
          
          <div class="field">
            <%= form.label :content, "課程內文" %>
            <%= form.text_area :content %>
          </div>

          <div class="field">
            <%= form.select :published, Section.published_state %>
          </div>  

          <%= form.submit "送出" %>
        <% end %>
    </div>
  </div>
</div>