<%= content_for :course do %>
  <ul class="sidebar-list">
    <li>
      <%= link_to information_owner_course_path(@course) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>課程內容
      <% end %>
    </li>
    <li>
      <%= link_to curriculum_owner_course_path(@course) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>章節內容
      <% end %>
    </li>
    <li class="border-b">
      <%= link_to comments_owner_course_path(@course) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>留言管理
      <% end %>
    </li>
  </ul>
<% end %>

<div class="owner-main-container relative py-10 min-h-screen">
  <div class="w-11/12 mx-auto">
  <%= form_with model: @section, url: owner_course_section_path(@section.chapter.course_id, @section) do |form| %>
    <div class="flex justify-between items-center">
      <h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">編輯小節</h1>
      <div>
        <%= form.button class: "owner-course-btn" do %>
          <i class="fa-solid fa-arrow-rotate-right mr-4"></i>更新資訊
        <% end %>
      </div>
    </div>
    <div class="p-8 border-2 bg-white border-gray-300 border-dashed rounded">
      <div class="flex items-center mb-4">
        <%= form.label :title, "小節標題", class: "flex-shrink-0 mr-4" %>
        <%= form.file_field :title %>
      </div>
      <div class="flex items-center mb-4">
        <%= form.label :media, "上傳影片", class: "flex-shrink-0 mr-4" %>
        <%= form.file_field :media %>
        <% if @section.media %>
          <p class="text-lg text-pink-400">已上傳檔案: </p>
          <%= @section.media.filename %>
        <% end %>
      </div>
      <div class="flex items-center mb-4">
        <%= form.label "發布狀態", class: "flex-shrink-0 mr-4" %>
        <%= form.select :published, Section.published_state %>
      </div>
      <div class="flex items-center mb-4">
        <%= form.label :content, "課程內文", class: "flex-shrink-0 mr-4" %>
        <%= form.text_area :content, data: { controller: "markdown-editor" } %>
      </div>
    </div>
  <% end %>
</div>
