<div class="fixed inset-x-0 md:inset-y-0 md:w-64 flex md:block text-3xl px-4 py-3 z-10 bg-primary-300 md:overflow-scroll">
  <label for="hamburger" class="md:hidden"><i class="fa-solid fa-bars"></i></label>
  <div class="hidden md:block w-24 h-24 mx-auto my-8 rounded-full overflow-hidden">
    <%= image_tag current_user.avatar, class: "w-full h-full object-cover" if current_user.avatar.attached? %>
  </div>
  <%= link_to owner_courses_path, class: "mx-auto hover:bg-primary-100" do %>
    <h1 class="text-center whitespace-nowrap"><%= current_user.username %>'s school</h1>
  <% end %>
    <span class="block text-center text-black">使用者信箱</span>
    <span class="block text-center text-black"><%= current_user.email %></span>
</div>
<ul class="sidebar-list">
  <li class="mx-4 mt-10">
    <%= link_to owner_courses_path do %>
      <i class="fa-solid fa-book-open"></i>全部課程
    <% end %>
    <%= yield :course %>
  </li>
  <li class="mx-4">
    <%= link_to owner_lecturers_path do %>
      <i class="fa-solid fa-chalkboard-user"></i>講師名單
    <% end %>
    <%= yield :lecturer %>
  </li>
  <li class="mx-4">
    <%= link_to owner_users_path do %>
      <i class="fa-solid fa-user-group"></i>學生管理
    <% end %>
    <%= yield :user %>
  </li>
  <li class="mx-4 text-left">
    <%= link_to "#" do %>
      <i class="fa-solid fa-cart-shopping"></i>授課管理
    <% end %>
  </li>
  <li class="bottom-0 mx-4 mt-6 border-t border-black">
    <%= link_to "/" do %>
      <i class="fa-solid fa-house"></i>學校首頁
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <i class="fa-solid fa-gear"></i>Setting
    <% end %>
  </li>
</ul>