<div>
  <h1 class="text-3xl"><%= @course.title %> の 課程後台</h1>
  <div class="bg-emerald-200">
    <%= form_with model: @course, url: owner_course_path(@course.id) do |form| %>
      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>

      <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
      </div>

      <div>
        <%= form.label :price %>
        <%= form.text_field :price %>
      </div>

      <div>
        <%= form.label :status %>
        <%= form.select :status, Section.published_state %>
      </div>
      
      <div>
        <%= form.label :lecturer_id %>
        <%= form.select :lecturer_id, Lecturer.pluck(:name, :id) %>
      </div>
      
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>