<div class="">

  <h1 class="text-3xl"><%= @course.title %> の 課程後台</h1>

  <div class="bg-emerald-200">
    <%= form_with model: @course, url: owner_course_path(@course.id) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div>
      <%= form.label :status %>
      <%= form.select :status, Section.published_state %>
    </div>


    <div>
      <%= form.label :lecturer_id %>
      <%= form.select :lecturer_id, Lecturer.pluck(:name, :id) %>
    </div>
    <div>
      <%= form.submit %>
    </div>
    <% end %>
  </div>


  <div >


    <%= form_with model: @course.chapters, url: owner_course_chapters_path(@course)  do |form| %>
    <h2 class="text-3xl text-green-600">新增Chapter</h2>

    <div class="field">
      <%= form.label :title, "標題" %>
      <%= form.text_field :title %>
    </div>

      <%= form.submit "送出" %>
    <% end %>
  </div>

  <h1 class="text-2xl">後台：Chapter列表</h1>



</div>