<div class="">

  <h1 class="text-3xl"><%= @course.title %> の 課程後台</h1>

  <div class="bg-emerald-200">
    <%= form_with model: @course, url: owner_course_path(@course) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div>
      <%= form.label :status %>
      <%= form.select :status, Section.published_state %>
    </div>

    <div>
      <%= form.submit %>
    </div>
    <% end %>
  </div>


  <div >
    <%= form_with model: @course.chapters, url: owner_course_chapters_path(@course)  do |form| %>
    <h2 class="text-3xl text-green-600">新增Chapter</h2>

    <div class="field">
      <%= form.label :title, "標題" %>
      <%= form.text_field :title %>
    </div>

      <%= form.submit "送出" %>
    <% end %>
  </div>

  <h1 class="text-2xl">後台：Chapter列表</h1>

  <ul>
    <% @chapters.each do |chapter| %>
      <li>
        章節：<%= chapter.title %> |
        <%= link_to "X", owner_course_chapter_path(chapter.course_id, chapter.id), method: "delete" %> | 
        <%= link_to "編輯", edit_owner_course_chapter_path(chapter.course_id, chapter.id) %>  |
        <%= link_to "新增Sections", new_owner_course_chapter_section_path(@course, chapter) %>
        <ul>
          <% chapter.sections.each do |section| %>
            <% if chapter.present? %>
              SECTION:
              <li>
              <%= section.title %> |
              <%= link_to "編輯", edit_owner_course_section_path(@course, section)%> |
              <%= link_to "SHOW", owner_course_section_path(@course, section)%> |
              <%= link_to "X", owner_course_section_path(@course, section), method: "delete" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

</div>