<%= content_for :course do %>
  <ul class="sidebar-list">
    <li>
      <%= link_to information_owner_course_path(@course) do %>
        <i class="fa-solid fa-chalkboard-user"></i>Information
      <% end %>
    </li>
    <li>
      <%= link_to curriculum_owner_course_path(@course) do %>
        <i class="fa-solid fa-chalkboard-user"></i>Curriculum
      <% end %>
    </li>
    <li>
      <%= link_to comments_owner_course_path(@course) do %>
        <i class="fa-solid fa-chalkboard-user"></i>Comments
      <% end %>
    </li>
  </ul>
<% end %>

<%= form_with model: @course, url: owner_course_path(@course) do |form| %>
  <div class="flex flex-col items-center justify-center min-w-full">
    <nav class="flex items-center justify-between w-full h-16 border-b-2">
      <h1 class="inline-block my-4 text-2xl text-blue-900 mx-7">Information</h1> 
      <div>
        <%= form.submit "更新課程", class: "px-4 py-2 mx-5 my-auto bg-green-300 border-0 border-gray-800 rounded hover:bg-green-400" %>  
      </div>  
    </nav>
    <div class="flex flex-col w-11/12 mt-10">
      <header class="flex flex-row items-center gap-3">
        <div class="text-xl font-bold"> 課程發布狀態 </div>
      </header>
      <footer class="flex flex-row items-center gap-3 pt-7">
        <div class="font-semibold">
          <%= form.label :published, "狀態" %>
        </div>
        <div class="px-2 py-1 duration-100 delay-100 border-2 border-gray-200 rounded-xl">
          <%= form.select :published, Section.published_state %>
        </div> 
      </footer>
      <hr class="mt-5">
    </div>
    <div class="flex flex-col w-11/12 mt-10">
      <header class="flex flex-row items-center gap-3">
        <div class="text-xl font-bold">課程價錢</div>
      </header>
      <footer class="flex flex-row items-center gap-3 pt-7">
        <div class="font-semibold">
          <%= form.label :price, "價錢" %>
        </div>
        <div class="px-2 py-1 duration-100 delay-100 border-2 border-gray-200 rounded-xl">
          <%= form.number_field :price %>
        </div> 
      </footer>
      <hr class="mt-5">
    </div>
    <div class="flex flex-col w-11/12 mt-5">
      <header class="flex flex-row items-center gap-3">
        <div class="text-xl font-bold"> 課程背景圖片 </div>
      </header>
      <footer class="flex flex-row items-center gap-3 pt-7">
        <div class="font-semibold">
          <%= form.label :classImg, "圖片" %>
        </div>
          <div class="px-2 py-1 duration-100 delay-100 ">
          <%= form.file_field :classImg %>
        </div>  
      </footer>
      <hr class="mt-5">
    </div>
    <div class="flex flex-col w-11/12 mt-5">
      <div class="grid grid-cols-4 gap-3">
        <div class="flex flex-col col-span-3">
          <div class="pt-3 text-xl font-bold">
            課程標題 & 簡介
          </div>
        </div>
      </div>
      <footer class="flex flex-row items-center gap-3 pt-7">
        <div class="font-semibold">
          <%= form.label :title, "課程標題" %>
        </div>
        <div class="px-2 py-1 duration-100 delay-100 ">
          <%= form.text_field :title, class: "information-input" %>
        </div>        
      </footer>
      <footer class="flex flex-row items-center gap-3 pt-7">
        <div class="font-semibold">
          <%= form.label :description, "課程簡介" %> 
        </div>
        <div class="px-2 py-1 duration-100 delay-100 " >
          <%= form.text_field :description , class: "information-input" %>
        </div>
      </footer>
      <footer class="flex flex-row items-center gap-3 pt-7">     
        <div class="font-semibold">
          <%= form.label :content, "課程完整介紹" %>
        </div>
        <div class="px-2 py-1 duration-100 delay-100">
          <%= form.text_area :content, data: { controller: "markdown-editor" }   %> 
        </div>
      </footer>
      <hr class="mt-5">
    </div>
    <div class="flex flex-col w-11/12 mt-5">
      <header class="flex flex-row items-center gap-3 text-2xl">
          <div> 講師 </div>
      </header>
      <footer class="flex flex-row items-center gap-3 pt-7 py-6">
        <div class="font-semibold">
          <%= form.label :lecturer_id, "選擇講師" %>
        </div>
        <div class="px-2 py-1 duration-100 delay-100 border-2 border-gray-200 rounded-xl">
          <%= form.select :lecturer_id, Lecturer.pluck(:name, :id) %>
        </div>       
      </footer> 
    </div>
  </div>
<% end %>
