<%= content_for :header do %>
  <div class="flex justify-between flex-grow text-xl text-green-800 section_header">
    <div class="flex items-center">
      <div>
        <%= link_to courses_path, class: "section_header_btn" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </div>
      <div class="border-l border-green-700 md:hidden">
        <button class="section_header_btn" data-action="click->section-list#toggleSideBar">
          <i class="fa-solid fa-list"></i>
        </button>
      </div>
    </div>
    <div class="flex items-center mr-2 md:hidden">
      <% unless @course.all_published_sections.first == @section %>
        <%= link_to course_section_path(@course, @section.prev_section), class: "px-6 py-0.5 mr-2 border border-green-700 rounded hover:bg-green-700 hover:text-green-200 transition" do %>
          <i class="mr-2 fa-solid fa-chevron-left"></i>
        <% end %>
      <% end %>
      <% unless @course.all_published_sections.last == @section %>
        <%= link_to course_section_path(@course, @section.next_section), class: "px-6 py-0.5 border border-green-700 rounded hover:bg-green-700 hover:text-green-200 transition" do %>
          <i class="ml-2 fa-solid fa-chevron-right"></i>
        <% end %>
      <% end %>
    </div>
    
    <div class="items-center hidden mr-2 md:flex">      
      <% unless @course.all_published_sections.first == @section %>
        <%= link_to course_section_path(@course, @section.prev_section), class: "px-6 py-0.5 mr-2 border border-green-700 rounded hover:bg-green-700 hover:text-green-200 transition" do %>
          <i class="mr-2 fa-solid fa-chevron-left"></i>
          前往上一章節
        <% end %>
      <% end %>
      <% unless @course.all_published_sections.last == @section %>
        <%= link_to course_section_path(@course, @section.next_section), class: "px-6 py-0.5 border border-green-700 rounded hover:bg-green-700 hover:text-green-200 transition" do %>
          前往下一章節
          <i class="ml-2 fa-solid fa-chevron-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :sidebar do %>
  <nav class="absolute left-0 right-0 z-10 flex-shrink-0 overflow-scroll bg-white section-dropdown fade md:relative md:w-64 lg:w-72 md:max-h-screen" data-section-list-target="sectionDropdown" data-action="resize@window->section-list#viewportResize">
    <div class="shadow">
      <h1 class="text-xl font-bold text-center"><%= @course.title %></h1>
      <div class="px-4 my-4 text-center">
        <div class="relative h-3 border rounded-full progress-bar" data-section-list-target="progressBar" data-progressBar=<%= @course.section_finished_rate %> data-action="sendWidth@document->section-list#setWidth"></div>
        <span class="inline-block my-3">已完成<span class="ml-4" data-section-list-target="progress"><%= @course.section_finished_rate %>%</span></span>
      </div>
    </div>
    <h2 class="text-lg font-bold text-center">所有章節</h2>
    <%= render partial: "chapter", collection: @course.chapters, locals: { course: @course } %>
  </nav>
<% end %>

<section class="relative flex flex-grow max-h-screen px-5 overflow-scroll">
  <div class="mx-auto">
    <h1 class="mb-4 text-3xl"><%= @section.title %></h1>
    <div class="section-media" data-section-list-target="loading">
      <div class="loading">Loading...</div>
      <div class="lds-ring"><div></div><div></div><div></div><div></div><span class="text-xl font-bold" data-section-list-target="loadingCircle">Loading</span></div>
      <%= video_tag url_for(@section.media), id: "myVideo", controls: true, controlsList: "nodownload"  if @section.media.attached? %>
    </div>
    <p class="mt-4"><%= markdown(@section.content)%></p>
  <%# 這裡是留言區 %>
    <div>
      <h2 class="text-3xl">留言區:</h2>
      <%= render partial: "comments/form", locals: { course: @course, section: @section, parent: nil }%>
      <%= render @section.comments.where(parent_id: nil).order(id: :desc) %>
    </div>
  </div>
  <%# 這裡是留言區 %>
</section>
