<div class="flex w-full sm:w-1/2 md:w-1/3 px-4 py-4">
  <%= link_to course_path(course), class: "course-card course-card-hover" do %>
    <div class="w-full course-card-image">
      <% if course.classImg.attached? %>
        <%= image_tag course.classImg, class: "w-full h-full object-fit" %>
      <% else %>
        <div>此課程沒有圖片</div>
      <% end %>
    </div>

    <div class="course-card-main p-6">
      <h2 class="font-bold text-2xl text-center mb-6">
        <%= course.title %>
      </h2>
      <p>
        <%= course.description %>
      </p>
    </div>

    <div class="flex justify-between items-center p-6">
      <div class="flex items-center">
        <div class="w-8 h-8 mr-2 rounded-full overflow-hidden">
          <%= image_tag "avatar.jpg" %>
        </div>
        <span class="text-sm">講師：王孝先</span>
      </div>
      <span>$<%= course.price %></span>
    </div>
  <% end %>
</div>


