<div class="container flex justify-between p-1 mx-auto mt-12" data-controller="search">
  <div class="w-1/3 drop" data-action="click->search#showOption">
    <div class="w-full dropOption" data-search-target="button">選擇講師</div>
    <ul class="invisible w-full dropdown" data-search-target="option">
    <% @lecturers.each do |lecturer|%>
      <li>
        <a><%= link_to lecturer.name, lecturer_path(lecturer) %></a>
      </li>
    <% end %>
    </ul>
  </div>
  
  <div class="simple-search">
    <div>課程搜尋</div>
    <%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
    <% end %>
  </div>
</div>


<h1 class="mt-12 text-4xl text-center">全部課程</h1>
<%= render "shared/flash" if flash %>
<div class="flex flex-wrap mx-auto md:container">
	<%= render @courses %>
</div>