<%= content_for :user do %>
  <ul class="sidebar-list">
    <li>
      <%= link_to information_owner_user_path(@user) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>會員詳細資料
      <% end %>
    </li>
  </ul>
<% end %>

<div class="relative min-h-screen pt-10 owner-main-container">
  <div class="w-11/12 mx-auto">
  <%= form_with model: @user, url: owner_user_path(@user), method: "patch" do |form| %>
    <div class="flex items-center justify-between">
      <h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">會員資訊</h1>
      <div>
        <%= form.button class: "owner-course-btn" do %>
          <i class="mr-4 fa-solid fa-arrow-rotate-right"></i>更新資訊
        <% end %>
      </div>  
    </div>
    <div class="p-8 bg-white border-2 border-gray-300 border-dashed rounded">
      <div class="mb-4 lg:flex lg:items-center lg:w-3/4 lg:mb-0">
        <div class="flex-shrink-0 w-40 h-40 mx-auto mb-8 overflow-hidden rounded-full lg:mb-0 lg:mx-4 field" data-controller="avatar-label">
          <%= form.label :avatar, class: "avatar-label relative block w-40 h-40 rounded-full overflow-hidden cursor-pointer" do %>
            <div class="absolute inset-0 w-40 h-40 mx-auto text-white">
              <% if @user.avatar %>
                <%= image_tag @user.avatar_url, class: "w-40 h-40 object-cover", data: { avatar_label_target: "preview" } %>
              <% else %>
                <div class="flex items-center justify-center w-40 h-40 overflow-hidden bg-gray-300 rounded-full" data-avatar-label-target="fakeImg">
                  <i class="text-6xl fa-solid fa-user"></i>
                </div>
                <img src="" class="hidden object-cover w-40 h-40" data-avatar-label-target="preview">
              <% end %>
            </div>
          <% end %>
          <%= form.file_field :avatar, class: "hidden", data: { action: "change->avatar-label#loadImg", avatar_label_target: "fileInput" } %>
        </div>
        <div>
          <div class="flex items-center mb-4">
            <%= form.label :username, "學生姓名", class: "flex-shrink-0 mr-4" %>
            <%= form.text_field :username %>
          </div>
          <div class="flex items-center mb-4">
            <%= form.label :email, "學生信箱", class: "flex-shrink-0 mr-4" %>
            <%= form.email_field :email %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
