<h1>編輯Chapter</h1>

<%= render "shared/flash" %>

<%= form_with model: @chapter, url: owner_course_chapter_path(@chapter.course, @chapter) do |form| %>
  <div class="field">
    <%= form.label :title, "標題" %>
    <%= form.text_field :title,  maxlength: 20 %>
  </div>
  
  <%= form.submit %>
<% end %>