<!DOCTYPE html>
<html>
  <head>
    <title>Teacherfly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-t  urbolinks-track': 'reload' %>
  </head>

  <body data-controller="section-list">
    <header class="fixed z-20 flex items-center w-full shadow-md section_header h-14 bg-primary-300">
      <%= yield :header %>
    </header>
    <main class="relative max-h-screen overflow-hidden pt-20 section_main md:flex">
      <%= yield :sidebar %>
      <%= yield %>
    </main>
  </body>
</html>
